*
!.gitignore

!/internal
!/internal/**
!/projects
!/projects/**
!/postgres
!/postgres/**
!/scripts
!/scripts/**
!/cmd
!/cmd/**

!/.env
!/README.md
!/go.mod
!/go.sum
!/config.yml
!/Makefile
!/config*.yml
!/mocks.json
!/package.json
!/package-lock.json
